In [2]:
import numpy as np

l = [1, 2, 3]

In [3]:
l

[1, 2, 3]

In [8]:
v = np.array(l)
v.dtype

dtype('int64')

In [14]:
strings = ["a", "b", 3]
strings

['a', 'b', 3]

In [15]:
vs = np.array(strings)
print(vs)
v.dtype

['a' 'b' '3']

dtype('<U21')

In [16]:
l[0]

1

In [17]:
v[0]

'1'

In [18]:
import pandas as pd

In [22]:
serie = pd.Series(l, index=["a", "b", "c"])
serie

a    1
b    2
c    3
dtype: int64

In [37]:
serie_2 = pd.Series({"a": 1, "b": 2, "d": 3}) #ad ogni valore corrisponde un indice

In [25]:
serie_2

a    1
b    2
c    3
dtype: int64

In [30]:
serie_2.values.dtype
serie_2.index.dtype

dtype('O')

In [34]:
pd.DataFrame([1, 2, 3], ["a", "b", "c"])

   0
a  1
b  2
c  3

In [39]:
pd.DataFrame([serie, serie_2, serie])

     a    b    c    d
0  1.0  2.0  3.0  NaN
1  1.0  2.0  NaN  3.0
2  1.0  2.0  3.0  NaN

In [43]:
df = pd.DataFrame({"a": [1, 2], "b": ["z", "x"]}, index=["p", "q"])
df

   a  b
p  1  z
q  2  x

In [49]:
df.keys()

Index(['a', 'b'], dtype='object')

In [51]:
df["a"]

p    1
q    2
Name: a, dtype: int64

In [52]:
df["b"][0]

'z'

In [53]:
DATASET_PATH = "/datasets/codex.csv"