In [1]:
import numpy as np
import pandas as pd

In [2]:
DATASET_PATH = "/datasets/codex.csv"
df = pd.read_csv(DATASET_PATH)

In [3]:
df.head()

,question_id,title,tags,creation_date,accepted_answer,favorite_count,answer_count,comment_count,view_count
0,44919655,How to add an onclick method on dynamically cr...,javascript|jquery,2017-07-05 07:29:18.98 UTC,NaN,NaN,5,11,52
1,45962870,Html clone in Javascript,javascript|jquery|html,2017-08-30 14:16:55.68 UTC,45964230.0,2.0,5,11,106
2,47409716,'number' is not a valid type for an input tag ...,asp.net|html5|iis|webforms,2017-11-21 09:36:17.393 UTC,47515741.0,NaN,7,14,227
3,42415666,Error:Cause: unable to find valid certificatio...,android|android-studio,2017-02-23 12:22:43.983 UTC,NaN,1.0,7,12,17553
4,45001657,Codeigniter User's Data,codeigniter|view|details,2017-07-09 22:29:15.42 UTC,NaN,0.0,7,15,721

In [4]:
df["answered"] = ~pd.isna(df["accepted_answer"])
df["answered"] = df["answered"].astype(int)

In [18]:
df.head()

,question_id,title,tags,creation_date,accepted_answer,favorite_count,answer_count,comment_count,view_count,answered
0,44919655,How to add an onclick method on dynamically cr...,javascript|jquery,2017-07-05 07:29:18.98 UTC,NaN,NaN,5,11,52,0
1,45962870,Html clone in Javascript,javascript|jquery|html,2017-08-30 14:16:55.68 UTC,45964230.0,2.0,5,11,106,1
2,47409716,'number' is not a valid type for an input tag ...,asp.net|html5|iis|webforms,2017-11-21 09:36:17.393 UTC,47515741.0,NaN,7,14,227,1
3,42415666,Error:Cause: unable to find valid certificatio...,android|android-studio,2017-02-23 12:22:43.983 UTC,NaN,1.0,7,12,17553,0
4,45001657,Codeigniter User's Data,codeigniter|view|details,2017-07-09 22:29:15.42 UTC,NaN,0.0,7,15,721,0

In [5]:
df.describe()

,question_id,accepted_answer,favorite_count,answer_count,comment_count,view_count,answered
count,2.143214e+06,8.026650e+05,244708.000000,2.143214e+06,2.143214e+06,2.143214e+06,2.143214e+06
mean,4.480207e+07,4.473181e+07,0.949221,1.021151e+00,2.034083e+00,1.217309e+02,3.745146e-01
std,1.656078e+06,1.625951e+06,1.074174,9.668283e-01,2.780897e+00,5.159113e+02,4.839974e-01
min,4.192734e+07,4.192737e+07,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
25%,4.336820e+07,4.332372e+07,1.000000,0.000000e+00,0.000000e+00,3.000000e+01,0.000000e+00
50%,4.479699e+07,4.472145e+07,1.000000,1.000000e+00,1.000000e+00,4.900000e+01,0.000000e+00
75%,4.624844e+07,4.612706e+07,1.000000,1.000000e+00,3.000000e+00,9.200000e+01,1.000000e+00
max,4.761543e+07,4.761540e+07,86.000000,2.800000e+01,7.800000e+01,1.621980e+05,1.000000e+00

In [20]:
type(df.describe())

pandas.core.frame.DataFrame

In [6]:
ar = np.array([type(s) == type(1) for s in df["tags"]])
ar

array([False, False, False, ..., False, False, False], dtype=bool)

In [10]:
df.dropna(inplace=True)
df["tags"] = [s.split("|") for s in df["tags"]]

In [7]:
string = 'pippo|nan|pluto'
l = string.split("|")
l

['pippo', 'nan', 'pluto']

In [15]:
import math
c = float('nan')
if math.isnan(c):
    print("nan")

nan